
/* Your CSS Code here. */
.my-1{
	display:flex;
	justify-content:space-between;
}
.my-2{
	width:100px;
	height:100px;
	background:red;
	font-size:45px;
	order:2;
}
.my-3{
	width:100px;
	height:100px;
	background:blue;
	font-size:45px;
	order:3;
}
.my-4{
	width:100px;
	height:100px;
	background:green;
	font-size:45px;
	order:1;
}
.f1{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.my-6{
	width:100px;
	height:100px;
	background:red;
	font-size:45px;
}
.my-7{
	width:100px;
	height:100px;
	background:blue;
	font-size:45px;
}
.my-8{
	width:100px;
	height:100px;
	background:green;
	font-size:45px;
}
.my-9{
	width:100px;
	height:100px;
	background:green;
	font-size:45px;
}
.my-10{
	width:100px;
	height:100px;
	background:green;
	font-size:45px;
}
.my-11{
	width:100px;
	height:100px;
	background:green;
	font-size:45px;
}
.my-12{
	width:100px;
	height:100px;
	background:green;
	font-size:45px;
}